<div class="jumbotron">
    <div class="container">
        <h1>Contact us</h1>
        <p>If you're facing any problem reach us at 7829084842 or noklang.longumer95@gmail.com <a href="https://onemonthrails.com">One Month Rails</a>.</p>
    </div>
</div>